<div class="container">
    <br>
    <figure class="text-center">
      <div>
        <h1><button id="return" type="button" class="btn btn-default return-button" (click)="OnClickReturnModal(returnBundle)">
          <img src="assets/images/arrow.png"  class="img-fluid" alt="return"/>
          </button>
          Bundle 1
          <span class="badge bg-warning courier">
            <h3></h3>
          </span>
        </h1>
      </div>
    </figure>

    <div class="container">
      <div class="row">
        <div class="col m-auto products">
          <h3 class="title-text">Products</h3>
        </div>
        <div class="col m-auto customer">
          <h3 class="title-text">Customer</h3>
        </div>
      </div>
      <div class="row">
        <div class="col m-auto svg-template">
          <app-svg></app-svg>
        </div>
        <div class="col m-auto customer-name">
          <p class="title-text">PaknSave Riccarton</p>
        </div>
      </div>
    </div>


    <div style="text-align: right">
      <button type="button" class="btn btn-primary go disabled" id="Go">Go</button>
      <button type="button" class="btn btn-default btn-lg skip-button" (click)="OnClickSkip(skipOrders)">
        <img src="assets/images/next.png" class="img-fluid" alt="skip">
      </button>
    </div>
    
    <ng-template #returnBundle let-modal>
      <div class="modal-header" id="returnModal">
        <h4 class="modal-title" id="returnModalLabel">Hi there!</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure to return to main page? Current order data will not be saved.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="returnToOrderList();modal.close('Ok click')">Yes</button>
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">No</button>    
      </div>
    </ng-template>

    <ng-template #skipOrders let-modal>
      <div class="modal-header" id="skipModal">
        <h4 class="modal-title" id="skipModalLabel">Hi there!</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure to skip to the next order? Current order data will not be saved.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="goBundle();modal.close('Ok click')">Yes</button>
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">No</button>    
      </div>
    </ng-template>

  </div>