 <div class="container">
    <br>
    <figure class="text-center">
      <div>
        <h1><button id="return" type="button" class="btn btn-default return-button" data-toggle="modal" data-target="#returnModal" (click)="returnToOrderList()">
          <img src="assets/images/arrow.png"  class="img-fluid" alt="return"/>
          </button>
          Bundle 1
          <span class="badge bg-warning courier">
            <h3></h3>
          </span>
        </h1>
      </div>
    </figure>

    <div class="modal fade" id="returnModal" tabindex="-1" aria-labelledby="returnModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h5 class="modal-title" id="returnModalLabel">Alert Messages</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
          </div>
          <!-- Modal body -->
          <div id="modal-body" class="modal-body">
            Are you sure to return to main page? Current order data will not be saved.
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button id="yes" type="button" class="btn btn-primary">Yes</button>
            <button id="no" type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>

    <div class="table-responsive" style="text-align: center">
      <table class="table table-borderless" style="word-break:break-all; word-wrap:break-all;">
        <thead>
          <tr>
            <th>
              <h3>Products</h3>
            </th>
            <th>
              <h3>Customer</h3>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="row">
                <div class="col-md-6 m-auto">
                  <div class="container-fluid">
                    <div class="col-md-12 m-auto small-box">
                      <h3 class="square-text">GB</h3>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 m-auto small-box">
                      <h3 class="square-text">GB</h3>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 m-auto large-box">
                      <h3 class="square-text">GC</h3>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="col-md-6 m-auto">
                <h5 class="title-text">PaknSave Riccarton</h5>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div style="text-align: right">
      <button type="button" class="btn btn-primary go disabled" id="Go">Go</button>
      <button type="button" class="btn btn-default btn-lg skip-button" data-toggle="modal" data-target="#skipModal">
        <img src="assets/images/next.png" class="img-fluid" alt="skip">
      </button>
    </div>
    <div class="modal fade" id="skipModal" tabindex="-1" aria-labelledby="skipModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h5 class="modal-title" id="skipModalLabel">Alert Messages</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
          </div>
          <!-- Modal body -->
          <div id="modal-body" class="modal-body">
            Are you sure to skip to the next order? Current order data will not be saved.
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button id="yes" type="button" class="btn btn-primary">Yes</button>
            <button id="no" type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
    </div>