/* You can add global styles to this file, and also import other style files */
/* bundle image size */
.courier {
  width: 5rem;
}
.small-box {
    height: 5rem;
    width: 5rem;
    border: 1px solid black;
    background-color: grey;

  }

  .large-box {
    height: 6rem;
    width: 6rem;
    border: 1px solid black;
    background-color: grey;
  }

  .square-text {
    text-align: center;
    padding-top: 30%;
    color: white;
  }
/*text on boxes */
.text{
  font-size:x-large;
}
  /* bundle packs */
  .return-button{
    width: 80px;
    position: relative;
    left:0px;
  }
  .skip-button{
    width: 70px;
  }

.form{
  width:200px;
}
/*packs-area*/
.packs-area{
  padding-top:40px;
}
.input-quantity{
  width:100px;
  font-size: smaller;
}

.box{
visibility: hidden;
}

.form-label{
  font-size:smaller;
}

.options{
  font-size:smaller;
}
/* title section */
  .title-text {
    text-align: center;
  }

  /* orderlist button styles */

.go{
    width: 10rem;
}

.cancel{
  width: 10rem;
}

.reprint{
  width: 10rem;
}
 /* footer styles */

.footer {
  font-size: smaller;
}