<div class="container">
	<br>
    <figure class="text-center">
      <h1> Order List </h1>
    </figure>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end" id="responsive" >
      <button type="button" class="btn btn-danger me-md-4" id="cancel" *ngIf='!isOpenOrder'(click)="ifCheckedAndCancel(content, message)">Cancel</button>    
      <button id="Settings" type="button" class="btn btn-dark me-md-2">Settings</button>
    
    </div>
    <ul class="nav nav-tabs nav-pills">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#" (click)="getOpenOrders()" [ngClass]="{'active': isOpenOrder}">Open</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="getFulfilledOrders()" [ngClass]="{'active': !isOpenOrder}">Fulfilled</a>
      </li>
    </ul>


  <div class="table-responsive" style="text-align: center">
    
	  <table class="table table-striped table-bordered table-hover table-condensed" style="word-break:break-all; word-wrap:break-all;">
		<thead>
		  <tr>
			<th *ngIf='isOpenOrder'>
        <input class="form-check-input" type="checkbox" [(ngModel)]="isMasterSel" value="" id="flexCheckDefault" (change)="checkUncheckAll()">
      </th>
      <th *ngIf='!isOpenOrder'>
          <input class="form-check-input" type="radio" name="flexRadioDefault" value="" id="flexRadioDefault" disabled>
      </th>
			<th>Order ID</th>
			<th>Order Date</th>
			<th>Customer</th>
			<th>Products</th>
		  </tr>
		</thead>

		<tbody *ngFor="let order of orderList | paginate : {
      itemsPerPage: tableSize,
      currentPage: page,
      totalItems: count}; let i = index">
		  <tr (click)="OnClickRow(order,i)">
        <td *ngIf='isOpenOrder'>
          <input class="form-check-input" type="checkbox" [(ngModel)]="order.isSelected" value="{{order.orderId}}" id="flexCheckDefault{{i}}" (change)="isAllSelected()">
        </td>
        <td *ngIf='!isOpenOrder'>
            <input class="form-check-input" type="radio" name="flexRadioDefault" value="{{order.orderId}}" id="flexRadioDefault{{i}}" #fulfilledOrder{{i}}>
          </td>
        <td>{{order.orderId}}</td>
        <td>{{order.orderdate}}</td>
        <td>{{order.customer}}</td>
        <td>
          <span *ngFor="let product of order.products; let i = index" class="badge bg-primary">
            {{product}}
          </span>                
        </td>
		  </tr>
		</tbody>
    </table>
    
    <div class="d-flex justify-content-left">
        <pagination-controls 
          responsive="true" 
          previousLabel="Prev" 
          nextLabel="Next" 
          (pageChange)="onTableDataChange($event)">
        </pagination-controls>
    </div>


    <div style="text-align: right" *ngIf='isOpenOrder'>
    <button type="button" class="btn btn-primary go" id="Go" (click)="ifCheckedAndGoBundle(checkedOrderList,message)">Go</button>
    </div>
    <div style="text-align: right" *ngIf='!isOpenOrder'>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-info me-md-2" id="reprint" (click)="ifCheckedAndPrint(print,message)">Reprint</button>
      </div>
    </div>
  </div>

  <ng-template #message let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Hi there!</h4>
    </div>
    <div class="modal-body">
      <p>Please select at least one order! </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Ok</button>
    </div>
    </ng-template>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Hi there!</h4>
    </div>
    <div class="modal-body">
      <p>Are you sure to cancel order {{selectedOrderID}}? It cannot be undone.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="confirmCancelOrder(selectedOrderID)">Yes</button>
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">No</button>    
    </div>
  </ng-template>

  <ng-template #print let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Hi there!</h4>
    </div>
    <div class="modal-body">
      <p>Are you sure to reprint order {{selectedOrderID}}? </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="confirmPrintOrder(selectedOrderID)">Yes</button>
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">No</button>    
    </div>
  </ng-template>
  
  </div>