<div class="container">
    <br>
    <figure class="text-center">
      <div>
        <h1><button id="return" type="button" class="btn btn-default return-button" (click)="OnClickReturnModal(returnBundle)">
          <img src="assets/images/arrow.png"  class="img-fluid" alt="return"/>
          </button>
          Bundle 1
          <span class="badge bg-primary courier">
            <h3></h3>
          </span>
        </h1>
      </div>
    </figure>

    <div class="container-fluid">
      <div class="row">
        <div class="col m-auto products">
          <h3 class="title-text">Products</h3>
        </div>
        <div class="col m-auto customer">
          <h3 class="title-text">Customer</h3>
        </div>
      </div>

      <div class="row">
        <div class=" col-2">
          </div>
          <div class=" col-2">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              GB
              <span>3</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              GC
              <span>2</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              GM
              <span>1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              packs
              <span>5</span>
          </ul>
        </div>
        <div class=" col-2">
        </div>
        <div class="col m-auto">
          <h6 class="title-text">PaknSave Riccarton</h6>
        </div>
      </div>
    <!--  <div class="row">
        <div class="col m-auto">

        </div>
        <div class="col m-auto">
        </div>
      </div>
      <div class="row">
        <div class="col m-auto">
         
        </div>
        <div class="col m-auto">
        </div>
      </div>
    -->
    </div>

    <div class="container-fluid packs-area">
        <div class="row">
          <div class="col-md-2">
            <div class="mb-3">
              <div>
                <label for="exampleFormControlInput1" class="form-label box">Bundle1</label>
              </div>
                <div class="d-grid gap-1 d-md-flex justify-content-between">
                  <select class="form-select form-select-md mb-3 form options" aria-label=".form-select-md">
                  <option selected>Please select:</option>
                  <option value="1">C</option>
                  <option value="2">S</option>
                  <option value="3">B</option>
                  <option value="4">M</option>
                  <option value="5">CC</option>
                  <option value="6">SS</option>
                  <option value="7">SC</option>
                  <option value="8">CB</option>
                  <option value="9">BB</option>
                  <option value="10">CCC</option>
                  <option value="11">SSS</option>
                  <option value="12">SSC</option>
                  <option value="13">SCC</option>
                  <option value="14">SSB</option>
                  <option value="15">SSSS</option>
                  <option value="16">SSSSS</option>
                  <option value="17">SSSSS</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-1">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label quantity">Quantity</label>
              <input type="quantity" class="form-control input-quantity" id="quantity1">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <div class="mb-3">
              <div>
                <label for="exampleFormControlInput1" class="form-label box">Bundle2</label>
              </div>
                <div class="d-grid gap-1 d-md-flex justify-content-between">
                <select class="form-select form-select-md mb-3 form options" aria-label=".form-select-md">
                  <option selected>Please select:</option>
                  <option value="1">C</option>
                  <option value="2">S</option>
                  <option value="3">B</option>
                  <option value="4">M</option>
                  <option value="5">CC</option>
                  <option value="6">SS</option>
                  <option value="7">SC</option>
                  <option value="8">CB</option>
                  <option value="9">BB</option>
                  <option value="10">CCC</option>
                  <option value="11">SSS</option>
                  <option value="12">SSC</option>
                  <option value="13">SCC</option>
                  <option value="14">SSB</option>
                  <option value="15">SSSS</option>
                  <option value="16">SSSSS</option>
                  <option value="17">SSSSS</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-1">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label quantity">Quantity</label>
              <input type="quantity" class="form-control input-quantity" id="quantity2">
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-2">
            <div class="mb-3">
              <div>
                <label for="exampleFormControlInput1" class="form-label box">Bundle3</label>
              </div>
                <div class="d-grid gap-1 d-md-flex justify-content-between">
                <select class="form-select form-select-md mb-3 form options" aria-label=".form-select-md">
                  <option selected>Please select:</option>
                  <option value="1">C</option>
                  <option value="2">S</option>
                  <option value="3">B</option>
                  <option value="4">M</option>
                  <option value="5">CC</option>
                  <option value="6">SS</option>
                  <option value="7">SC</option>
                  <option value="8">CB</option>
                  <option value="9">BB</option>
                  <option value="10">CCC</option>
                  <option value="11">SSS</option>
                  <option value="12">SSC</option>
                  <option value="13">SCC</option>
                  <option value="14">SSB</option>
                  <option value="15">SSSS</option>
                  <option value="16">SSSSS</option>
                  <option value="17">SSSSS</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-1">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label quantity">Quantity</label>
              <input type="quantity" class="form-control input-quantity" id="quantity2">
            </div>
          </div>
        </div>
      </div>
      <br>

    <div style="text-align: right">
      <button type="button" class="btn btn-primary go" id="Go">Go</button>
      <button type="button" class="btn btn-default btn-lg skip-button" (click)="OnClickSkip(skipOrders)">
        <img src="assets/images/next.png" class="img-fluid" alt="skip">
      </button>
    </div>

    </div>
    
    <ng-template #returnBundle let-modal>
      <div class="modal-header" id="returnModal">
        <h4 class="modal-title" id="returnModalLabel">Hi there!</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure to return to main page? Current order data will not be saved.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="returnToOrderList();modal.close('Ok click')">Yes</button>
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">No</button>    
      </div>
    </ng-template>

    <ng-template #skipOrders let-modal>
      <div class="modal-header" id="skipModal">
        <h4 class="modal-title" id="skipModalLabel">Hi there!</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure to skip to the next order? Current order data will not be saved.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="goBundle();modal.close('Ok click')">Yes</button>
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">No</button>    
      </div>
    </ng-template>

